<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA32s5yYo6-vk8B_q7jH3mA1mvUw6e8fYA</string>
	<key>GCM_SENDER_ID</key>
	<string>966261311097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smit</string>
	<key>PROJECT_ID</key>
	<string>smit-c2b40</string>
	<key>STORAGE_BUCKET</key>
	<string>smit-c2b40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966261311097:ios:9499e3f7e8a59edb3976a8</string>
</dict>
</plist>